<!DOCTYPE html>
<html>
<head>
  <title>BaseCamp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script src="https://kit.fontawesome.com/88bf458a2f.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Oranienbaum&family=Sacramento&family=Scope+One&family=Unica+One&display=swap" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <div class="top-bar-container sticky-container" data-sticky-container>
      <div class="sticky is-stuck is-at-top" data-sticky data-options="marginTop:0;">
        <nav class="top-bar">
          <h1><a href="/">BaseCamp</a></h1>
          <section class="top-bar-section">
            <div class="right">
              <%- if current_user && !current_user.profile_photo.to_s.empty? -%>
                <a href="/users/<%= current_user.id %>">
                  <img class="user-pic-thumbnail" src="<%= current_user.profile_photo %>"></img>
                </a>
              <%- end -%>
              <span class="current-user" style="float:right">
                <%- if current_user && current_user.id -%>
                  <a href="/users/<%= current_user.id %>">
                    <h5 class="user-name-display">
                      <%= current_user.user_name %>
                    </h5>
                  </a>
                  <p><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
                <%- else -%>
                  <p><%= link_to 'Sign Up', new_user_registration_path %></p>
                  <p><%= link_to 'Sign In', new_user_session_path %></p>
                <%- end -%>
              </span>
            </div>
          </section>
        </nav>
      </div>
    </div>
    <div class="content grid-container">
      <div id="flash-messages">
        <%- flash.each do |key, value| -%>
          <div class="flash flash-<%= key %>">
            <%= value %>
          </div>
        <%- end -%>
      </div>
      <%= yield %>

      <%= javascript_include_tag 'application' %>

      <%- if Rails.env.development? || Rails.env.test? -%>
        <%= javascript_tag do %>
          window.railsEnv = '<%= Rails.env %>'
        <%- end -%>
      <%- end -%>
      <%= javascript_pack_tag 'application' %>

      <%= yield :extra_footer %>
    </div>
  </div>
</body>
</html>
